.logo a, .nav-small a {
  padding: 0;
  width: 100%;
  text-align: right; }

.logo-mobile a {
  width: 100%;
  padding: 0 6.5%;
  float: left;
  text-align: left; }

.logo-mobile, .nav-small {
  padding: .5em; }

.logo, .nav-small, .logo-mobile {
  border: none; }
  .logo a:hover, .logo a:active, .logo a:focus, .nav-small a:hover, .nav-small a:active, .nav-small a:focus, .logo-mobile a:hover, .logo-mobile a:active, .logo-mobile a:focus {
    background: none; }
  .logo:hover, .logo:active, .logo:focus, .nav-small:hover, .nav-small:active, .nav-small:focus, .logo-mobile:hover, .logo-mobile:active, .logo-mobile:focus {
    background: none; }

.logo img, li.logo-mobile img {
  width: 100%;
  max-width: 70px; }

.logo {
  display: none; }

.nav-small img {
  height: 50px;
  width: 50px; }
.nav-small a {
  float: left; }

header {
  width: 100%;
  background: #262626;
  float: left; }
  header nav {
    width: 100%;
    background: #262626;
    margin: 0 auto;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s; }
    header nav ul {
      float: left;
      width: 100%; }
      header nav ul ul {
        border-top: 1px solid #1fd100;
        border-bottom: 1px solid #1fd100;
        background: #0d0d0d;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap; }
        header nav ul ul li {
          width: auto;
          border: none;
          float: none;
          display: inline-block; }
          header nav ul ul li a {
            width: auto;
            padding: 1em; }
      header nav ul li {
        float: left;
        width: 100%;
        border-bottom: 1px solid black; }
        header nav ul li a {
          width: 100%;
          display: block;
          padding: 1.15em 3%;
          text-align: center;
          text-decoration: none;
          color: #fff;
          font-family: "SourceSansProLight", helvetica, arial, sans-serif;
          font-size: 1em;
          -webkit-transition: color, background 0.25s;
          -moz-transition: color, background 0.25s;
          -ms-transition: color, background 0.25s;
          -o-transition: color, background 0.25s;
          transition: color, background 0.25s; }
          header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus {
            color: #262626;
            background: #1fd100; }

.mobile-nav {
  border-bottom: 2px solid #1fd100; }
  .mobile-nav li {
    width: 50%; }

@media screen and (min-width: 540px) {
  .main-nav {
    display: block !important; }

  .mobile-nav {
    display: none !important; }

  li.nav-small {
    display: none; }

  li.logo-mobile {
    display: none; }

  .logo {
    display: block;
    width: 100%;
    padding: .5em 3.25%; }

  li.logo a:link, li.logo a:visited {
    text-align: center; }

  header nav {
    margin: 0 auto;
    width: 100%; }
    header nav ul {
      margin: 0em 0 0 0;
      position: relative; }
      header nav ul ul {
        position: absolute;
        left: 0;
        display: none; }
      header nav ul li {
        width: 25%;
        border: none; }
        header nav ul li:hover, header nav ul li:active, header nav ul li:focus {
          background: #1fd100; }
          header nav ul li:hover > a, header nav ul li:active > a, header nav ul li:focus > a {
            color: #262626; }
          header nav ul li:hover ul, header nav ul li:active ul, header nav ul li:focus ul {
            display: block; } }
@media screen and (min-width: 800px) {
  .logo {
    width: 11.1111111111%;
    padding: 1em 0; }

  header nav ul ul {
    width: 200%; }
    header nav ul ul li {
      width: 100%;
      float: left; }
      header nav ul ul li a {
        padding: 1em; }
  header nav ul li {
    width: 11.1111111111%;
    position: relative; }
    header nav ul li a {
      padding: 2.15em 3%; }
    header nav ul li:last-of-type ul {
      right: 0;
      left: auto; } }
