@import 'bits';

.logo, .nav-small {

	a {
		padding: 0;
		width: 100%;
		text-align: right;
	}
}


.logo-mobile {
	a {
		width: 100%;
		padding: 0 6.5%;
		float: left;
		text-align: left;
	}
	
}


.logo-mobile,.nav-small{
	padding: .5em;
}	

.logo, .nav-small, .logo-mobile {
	border: none;
	a {
		&:hover, &:active, &:focus {
			background: none;
		}
	}

	&:hover, &:active, &:focus {
		background: none;
	}
}

.logo img, li.logo-mobile img {
	width: 100%;
	max-width: 70px;	
}

.logo {
	display: none;
}

.nav-small  {
	img {
		height: 50px;
		width: 50px;
	}

	a {
		float: left;
	}
}


header {
	width: 100%;
	background: $maincolor1;
	float: left;
	

	nav {
		width: 100%;
		
		background: $maincolor1;
		margin: 0 auto;
		@include trans(all,.5s);
		
		ul {
			float: left;
			width: 100%;

			ul {
				border-top: 1px solid $maincolor2;
				border-bottom: 1px solid $maincolor2;
				background: darken($maincolor1, 10%);
				overflow-x: auto;
				overflow-y: hidden;
				white-space: nowrap;
				li {
					width: auto;
					border: none;
					float: none;
					display: inline-block;

					a {
						width: auto;
						padding: 1em;
					}
				}
			}
			
			li {
				float: left;
				width: 100%;
				border-bottom: 1px solid darken($maincolor1, 20%);
				a {
					width: 100%;
					display: block;
					padding: 1.15em 3%;
					text-align: center;
					text-decoration: none;
					color: #fff;
					font-family: $navfont;
					font-size: 1em;
					@include trans(color, background .25s);

					&:hover, &:active, &:focus {
						color: $maincolor1;
						background: $maincolor2;
					}
				}
				
				
			}
		}
	}
}

.mobile-nav {
	border-bottom: 2px solid $maincolor2;
	li {
		width: 50%;
	}
}

@media screen and (min-width: $i4) {

	.main-nav {
		display: block !important;
	}

	.mobile-nav {
		display: none !important;
	}
	li.nav-small {
		display: none;
	}
	
	li.logo-mobile {
		display: none;
	}
	
	.logo {
		display: block;
		width: 100%;
		padding: .5em 3.25%;
	}
	
	
	li.logo a:link, li.logo a:visited {
		text-align: center;
	}
		
	header {

		nav {
			
			margin: 0 auto;
			width: 100%;
			
						
			ul {
				margin: 0em 0 0 0;
				position: relative;

				ul {
					position: absolute;
					left: 0;
					display: none;
				}		
				
				li {
					width: 25%;
					border: none;

					&:hover, &:active, &:focus {
						background: $maincolor2;
						> a {
							color: $maincolor1;
						}

						ul {
							display: block;
						}
					}

					a {
						&:link, &:visited {
				
						}
						
						&:hover, &:active, &:focus {
						}
					}
					
				}
			}
		}
	}
	
}

@media screen and (min-width: $v6) {
	.logo {
		width: 1/9 * 100%;
		padding: 1em 0;
	}
	
	
	li.logo a:link, li.logo a:visited {
		
	}

	header {

		nav {
			
						
			ul {
				
				ul {
					width: 200%;

					li {
						width: 100%;
						float: left;

						a {
							padding: 1em;
						}
					}
				}

				li {
					width: 1/9 * 100%;
					position: relative;

					a {
						padding: 2.15em 3%;
					}

					&:last-of-type {
						ul {
							right: 0;
							left: auto;
						}
					}
				}
			}
		}
	}
	
}

@media screen and (min-width: $v8) {
	header {

		nav {
						
			ul {
				
				li {
					
					a:link, a:visited {
			
					}
					
					a:hover, a:active, a:focus {
					}
				}
			}
		}
	}
}

